//grid
$xxsm: 374px;
$xsm: 459px;
$sm: 639px;
$md: 767px;
$lg: 1023px;
$xl: 1199px;
$xxl: 1399px;

//fonts
$font-1: "Aileron";
$font-2: "NotoSerif";

//colors
$color-1: #000;
$color-2: #fff;
$color-3: #2F5BEA;
$color-4: #2C2E30;
$color-5: #7E8085;

// timing
$time-sm: 300ms;
$time-md: 500ms;
$time-lg: 800ms;
$time-xl: 1100ms;
