<footer class="footer">
	<div class="container">
		<div class="logo-wrapper">
			<svg width="33" height="29" viewbox="0 0 33 29" fill="none" xmlns="http://www.w3.org/2000/svg">
				<use xlink:href="#logo"></use>
			</svg>
		</div>
		<div class="footer-nav-wrapper">
			<div class="nav-col">
				<h4 class="nav-title">Company</h4>
				<ul class="nav-list">
					<li class="nav-item">
						<a href="" class="nav-item-link">
							About Us
						</a>
					</li>
					<li class="nav-item">
						<a href="" class="nav-item-link">Careers</a>
					</li>
					<li class="nav-item">
						<a href="" class="nav-item-link">Blog</a>
					</li>
					<li class="nav-item">
						<a href="" class="nav-item-link">Press</a>
					</li>
					<li class="nav-item">
						<a href="" class="nav-item-link">Brand Guidelines</a>
					</li>
				</ul>
			</div>
			<div class="nav-col">
				<h4 class="nav-title">Product</h4>
				<ul class="nav-list">
					<li class="nav-item">
						<a href="" class="nav-item-link">
							Why xPider?
						</a>
					</li>
					<li class="nav-item">
						<a href="" class="nav-item-link">Enterprise</a>
					</li>
					<li class="nav-item">
						<a href="" class="nav-item-link">Customer Stories</a>
					</li>
					<li class="nav-item">
						<a href="" class="nav-item-link">Pricing</a>
					</li>
					<li class="nav-item">
						<a href="" class="nav-item-link">Security</a>
					</li>
				</ul>
			</div>
			<div class="nav-col">
				<h4 class="nav-title">Resources</h4>
				<ul class="nav-list">
					<li class="nav-item">
						<a href="" class="nav-item-link">
            Download
						</a>
					</li>
					<li class="nav-item">
						<a href="" class="nav-item-link">Help Center</a>
					</li>
					<li class="nav-item">
						<a href="" class="nav-item-link">Guides</a>
					</li>
					<li class="nav-item">
						<a href="" class="nav-item-link">Partners</a>
					</li>
					<li class="nav-item">
						<a href="" class="nav-item-link">Events</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
