<header class="header" id="header">
	<div class="container">
		<div class="logo-wrapper">
			<a href="#" class="logo-link">
				<svg width="33" height="29" viewBox="0 0 33 29" fill="none" xmlns="http://www.w3.org/2000/svg">
					<use xlink:href="#logo"></use>
				</svg>
				xPider
			</a>


		</div>
		<nav>
			<ul class="header-nav">
				<li>
					<a href="#" class="header-nav__link">Features
					</a>
				</li>
				<li>
					<a href="#" class="header-nav__link">Pricing
					</a>
				</li>
				<li>
					<a href="#" class="header-nav__link">Pages</a>
				</li>

			</ul>
			
		</nav>
		<a href="#" class="header-btn">Get started, It’s free</a>
	</div>
</header>
