<section class="banner">
    <div class="container">
        <h2 class="banner-title">
            Try xPider for 14 days, for free!
        </h2>

        <p class="banner-subtitle">
            Millions of people around the world have already made xPider the place where their dream happens.
        </p>
        <a href="#" class="banner-link-btn">
            Get started
        </a>
    </div>
</section>