<section class="blocks">
    <div class="container">
        <div class="content-wrapper">
             <h3 class="section-title">
                1500+ Unique Blocks
            </h3>
            <p class="text">
                Use Timeline to plan projects right the first time. See how the
                 pieces fit together so you can spot gaps and overlaps before you start.
            </p>
            <a href="#" class="section-link">See all blocks live</a>
        </div>
        <div class="img-wrapper">
            <img src="../img/Block-image.png" alt="blocks-img">
        </div>
    </div>
</section>