<section class="growth">
    <div class="container">
        <div class="img-wrapper">
            <img src="../img/shutterstock.png" alt="main-img">
        </div>
        <div class="content-wrapper">
            <h3 class="section-title">
                Built for growth
            </h3>
            <p class="text">
                Use Timeline to plan projects right the first time. See how the pieces
                 fit together so you can spot gaps and overlaps before you start.
            </p>
            <div class="icons-wrapper">
                <img src="../img/html.jpg" alt="html">
                <img src="../img/css.jpg" alt="css">
                <img src="../img/js.jpg" alt="js">
            </div>
            <p class="text">
                Big, small, online, offline, local or international. Size doesn't matter.
                 We work on diverse projects for top brands as well as for cool startups.
                  Check out some of our favorites.
            </p>
            <a href="#" class="section-link">Try xPider now</a>
        </div>
    </div>
</section>