<section class="hero">
    <div class="container">
        <h1 class="hero-title">Accomplish more, everyday</h1>
        <p class="hero-subtitle">Millions of people trust xPider to create beautiful websites.</p>
        <a href="#" class="hero-btn">Get started, It’s free</a>
        <a href="#" class="hero-video-link">
            <svg width="36" height="35" viewbox="0 0 36 35" fill="none">
					<use xlink:href="#play-btn"></use>
			</svg>
            Watch our video
        </a>
    </div>
</section>