<section class="how-it-works">
    <div class="container">
        <h2 class="section-title">
            How xPider works for you?
        </h2>
        <p class="section-subtitle">
            When you need a kickstart in your business and you have no time
             for coding for your website, xPider will take that job for you
              and will build a great looking website in minutes.
        </p>
        <div class="cards-wrapper">
            <div class="card-item">
                <div class="card-img-wrapper">
                    <img src="../img/started.png" alt="icon1" class="card-img">
                </div>
                <h3 class="card-title">Get started with xPider</h3>
                <p class="card-subtitle">Login or Signup in xPider Dashboard to get started.</p>
            </div>
            <div class="card-item">
                <div class="card-img-wrapper">
                    <img src="../img/build.png" alt="icon2" class="card-img">
                </div>
                <h3 class="card-title">Build your website</h3>
                <p class="card-subtitle">Using our super powerful builder, build your website.</p>
            </div>
            <div class="card-item">
                <div class="card-img-wrapper">
                    <img src="../img/rocket.png" alt="icon3" class="card-img">
                </div>
                <h3 class="card-title">Publish when finished</h3>
                <p class="card-subtitle">When you are done, hit the publish button to show the world!</p>
            </div>
        </div>
    </div>
</section>