<section class="pricing">
	<div class="container">
		<h2 class="pricing-title">
			Simple, Straight Pricing
		</h2>
		<p class="pricing-subitle">
			Millions of people around the world have already made xPider the place where their dream happens.
		</p>
		<div class="pricing-cards-wrapper">
        <img src="../img/dots-green-fade.png" alt="dots" class="bg-img-l">
        <img src="../img/dots-red.png" alt="dots" class="bg-img-r">
			<div class="pricing-card">
				<div class="card-inner-wrapper">
					<p class="price">$19</p>
					<p class="info">Billed Monthly</p>
					<p class="price-text">
						No one cares about products. People care about ideas. Is a product an idea? Noup. Is a brand? A good one is.
					</p>
					<a href="#" class="price-btn">Try 14 days free trial</a>
				</div>
			</div>
			<div class="pricing-card">
				<div class="card-inner-wrapper">
					<p class="price">$9</p>
					<p class="info">Billed Anually</p>
					<p class="price-text">
                        No one cares about products. People care about ideas. Is a product an idea? Noup. Is a brand? A good one is.
                    </p>
					<a href="#" class="price-btn">Try 14 days free trial</a>
				</div>
			</div>
		</div>
        <p class="info-text">
            Both pricings contains all of our features.
        </p>
        <a href="#" class="more-info-link">Check all our features</a>
	</div>
</section>
