<section class="slider-section">
	<div class="container">
		<h2 class="slider-title">xPider brings all your creativity together</h2>
		<p class="slider-subtitle">
			When you need a kickstart in your business and 
			you have no time for coding for your website, xPider will take that job 
			for you and will build a great looking website in minutes.
		</p>

		<div class="accordion">
			<div class="accordion-tabs">
				<button class="accordion-tab accordion-active" data-actab-group="0" data-actab-id="0">
					<img src="../img/builder-img.png" alt="tab-img" class="tab-img">
					<p class="tab-name">AI Page Builder</p>
				</button>
				<button class="accordion-tab" data-actab-group="0" data-actab-id="1">
					<img src="../img/settings.png" alt="tab-img" class="tab-img">
					<p class="tab-name">Easy to Customize</p>
				</button>
				<button class="accordion-tab" data-actab-group="0" data-actab-id="2">
					<img src="../img/responsive.png" alt="tab-img" class="tab-img">
					<p class="tab-name">Fits with Any Device</p>
				</button>
			</div>

			<div class="accordion-content">
				<div class="accordion-item accordion-active" data-actab-group="0" data-actab-id="0">
					
					<div class="accordion-item__container accordion-item__label">
						<div class="slide-img-wrapper">
							<img src="../img/bg-dots.png" alt="dots" class="back-img-left">
							<img src="../img/browser-image.png" class="main-img" alt="browser-image">
							<img src="../img/svg/triangle.svg" alt="triangle" class="back-img-bot">
						</div>
						<div class="slide-content-wrapper">
							<h3 class="slide-title">
								Build anything, anytime!!
							</h3>
							<ul class="slide-list">
								<li class="slide-list-item">
									Your users are impatient. They're probably distracted too.
									 Keep it simple and beautiful, fun and functional. By a strong concept is what we stand for.
								</li>
								<li class="slide-list-item">
									They're probably distracted too. Keep it simple & clean, fun and functional. Clean aesthetics supported.
								</li>
							</ul>
							<p class="slide-quote">
								“Wow. I just updated my site and it was SO SIMPLE. I am blown away. You guys truly kick ass.
								Thanks for being so awesome. High fives!”
							</p>
							<p class="author">
								James Duren, CTO, Fish&co
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-item" data-actab-group="0" data-actab-id="1">
					
					<div class="accordion-item__container accordion-item__label">
						<div class="slide-img-wrapper">
							<img src="../img/bg-dots.png" alt="dots" class="back-img-left">
							<img src="../img/browser-image.png" class="main-img" alt="browser-image">
							<img src="../img/svg/triangle.svg" alt="triangle" class="back-img-bot">
						</div>
						<div class="slide-content-wrapper">
							<h3 class="slide-title">
								Build anything, anytime!!!!!
							</h3>
							<ul class="slide-list">
								<li class="slide-list-item">
									Your users are impatient. They're probably distracted too.
																	                                Keep it simple and beautiful, fun and functional. By a strong concept is what we stand for.
								</li>
								<li class="slide-list-item">
									They're probably distracted too. Keep it simple & clean, fun and functional. Clean aesthetics supported.
								</li>
							</ul>
							<p class="slide-quote">
								“Wow. I just updated my site and it was SO SIMPLE. I am blown away. You guys truly kick ass.
															                            Thanks for being so awesome. High fives!”
							</p>
							<p class="author">
								James Duren, CTO, Fish&co
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-item" data-actab-group="0" data-actab-id="2">
					
					<div class="accordion-item__container accordion-item__label">
						<div class="slide-img-wrapper">
							<img src="../img/bg-dots.png" alt="dots" class="back-img-left">
							<img src="../img/browser-image.png" class="main-img" alt="browser-image">
							<img src="../img/svg/triangle.svg" alt="triangle" class="back-img-bot">
						</div>
						<div class="slide-content-wrapper">
							<h3 class="slide-title">
								Build anything, anytime!!!!!!!
							</h3>
							<ul class="slide-list">
								<li class="slide-list-item">
									Your users are impatient. They're probably distracted too.
																	                                Keep it simple and beautiful, fun and functional. By a strong concept is what we stand for.
								</li>
								<li class="slide-list-item">
									They're probably distracted too. Keep it simple & clean, fun and functional. Clean aesthetics supported.
								</li>
							</ul>
							<p class="slide-quote">
								“Wow. I just updated my site and it was SO SIMPLE. I am blown away. You guys truly kick ass.
															                            Thanks for being so awesome. High fives!”
							</p>
							<p class="author">
								James Duren, CTO, Fish&co
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
</section>
